/*------Start Base CSS------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bree Serif', serif;

}

img {
    height: auto;
    max-width: 100%;
    border: none;
}

body,
html {
    height: 100%;
}

a,
a:hover {
    text-decoration: none;
}

a:focus {
    color: #333;
    text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    margin-top: 0;
}

p {
    margin-bottom: 10px;
    margin-top: 0;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.fix:before,
.fix:after {
    content: "";
    display: table;
}

.fix:after {
    clear: both;
}

/*------End Base CSS------*/